@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* ---------- Primary set-up ----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grey850);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

main {
    background-color: var(--grey800);
    width: 60%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

/* ---------- Colors ----------*/

:root {
    /*Primary color*/
    --grey850: #18171F;
    --grey800: #24232C;
    --grey700: #54535B;
    --grey600: #817D92;
    --grey200: #E6E5EA;

    /*Secondary colors*/
    --orange: #FB7C58;
    --red: #F64A4A;
    --green: #A4FFAF;
}


/*Backgrounds*/
.bg-grey850 {background-color: var(--grey850);}
.bg-grey800 {background-color: var(--grey800);}
.bg-green {background-color: var(--green);}


/* ---------- Typos ----------*/

* {
    font-family: "JetBrains Mono", monospace;
    color: var(--grey200);
}

h1 {
    color: var(--grey600);
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.password {
    color: var(--grey700);
    font-size: 2.2rem;
}

.lightgrey {
    color: var(--grey200);
    font-size: 1.1rem;
}

.strength {
    color: var(--grey700);
    font-size: 1rem;
}

.green {
    color: var(--green);
    font-size: 2rem;
}

/* ---------- Password  ----------*/

.password-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.green-icon {
    width: 25px;
    height: 33px;
}

/* ---------- Blackline  ----------*/

.blackline {
    height: 3rem;
    background-color: var(--grey850);
}

/* ---------- Input Container (Second Box) ----------*/

.input-container {
    padding: 1.5rem;
}

/* ---------- Character Lenght ----------*/

.length-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Barre passive */
#valeur-range {
    width: 100%;
    height: 0.5rem;
    margin: 1.5rem 0;
    background: var(--grey850);
    cursor: pointer;
    appearance: none;
}

/* Point */
#valeur-range::-webkit-slider-thumb {
    appearance: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: var(--grey200);
    cursor: pointer;
}

#valeur-range:hover::-webkit-slider-thumb {
    background: var(--green);
}

/* ---------- Checkboxes ----------*/

label {
    margin-bottom: 1rem;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.checkbox-item input[type="checkbox"] {
    appearance: none;
    margin-right: 1rem;
    width: 20px;
    height: 20px;
    background-color: var(--grey850);
    border: 2px solid var(--grey200);
    cursor: pointer;
    position: relative;
}

.checkbox-item input[type="checkbox"]:hover {
    border-color: var(--green);
}

.checkbox-item input[type="checkbox"]:checked {
    background-color: var(--green);
    border-color: var(--green);
    color: var(--grey850);
}

.checkbox-item input[type="checkbox"]:checked::after {
    content: "✓";
    position: absolute;
    color: var(--grey850);
    font-size: 1.5rem;;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ---------- Strength ----------*/

.strength-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey850);
    height: 4rem;
    padding: 1rem;
    margin-top: 2rem;
}

#c1, #c2, #c3, #c4 {
    width: 0.6rem;
    height: 1.8rem;
    border: 2px solid var(--grey200);
    margin-right: 5px;
    display: inline-block;
}

/* ---------- Generate Button ----------*/

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    height: 4rem;
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
    color: var(--grey800);
    font-size: 1rem;
}

button img {
    margin-left: 1rem;
}

button:hover {
     background-color: var(--grey800);
     border: 2px solid var(--green);
     color: var(--green);
}

button:hover img {
    filter: brightness(0) saturate(100%) invert(85%) sepia(26%) saturate(1475%) hue-rotate(79deg) brightness(108%) contrast(97%);
}

/* ---------- Responsivness ----------*/

@media screen and (max-width: 590px) {
    main {
    width: 80%;
    }
}

@media screen and (max-width: 590px) {
    main {
    width: 90%;
    }
}

@media screen and (max-width: 400px) {
    main {
    width: 100%;
    }
}

